<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Chart.js import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Bootstrap core CSS-->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap core JS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <!-- demo scripts -->
    <script src="js/line.js"></script>
    <script src="js/bar.js"></script>
    <script src="js/scatter.js"></script>
    <script src="js/pie.js"></script>
    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    

    <style>
        .modalDialog, .popup-card {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: grey;
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }

        .modalDialog:target {
            opacity:1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 70%;
            height: 50%;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: white;
        }

        .close {
            background: red;
            color: white;
            line-height: 30px;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
        }

        .getAssignment, .getAssignment2{
            cursor:pointer;
            background-color: rgb(137, 137, 255);
            color: white;
            font-size: 12px;
            padding: 5px 10px;
            margin:  5px;
        }

        .output-container {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
        }
      
        .output {
            text-align: center;
            width: 5%; /* Set the width of each output element for proper alignment */
        }
    </style>
</head>


<body>

<!-- Open Modal Button -->
<input type="button" id="openModalBtn" value="Open Modal">


<!-- First Page -->
<div id="openModal1" class="modalDialog" data-modalorder=1>
    <div>
      <input class="getAssignment2" type="button" value="<<Previous">
      <input class="getAssignment" type="button" value="Next>>">
      <a href="#close" title="Close" class="close">X</a>

      <div style="text-align: center;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
        <h1 style="margin-top: -20px; margin-left:35px;">Your weekly Check-In is ready!</h1>
        <p style="font-size: 12px; margin-top: 15px;">Let's click Next to continue</p>
      </div>
     
      <img src="images/weekly.jpg" alt="Your Image Description" style="display: block; width: 250px; height: 300px ;margin: 0 auto; max-width: 100%; height: auto;">

          <!-- <div id="app1">
            <div class="card" style="width: 18rem;" v-for="(element, index) in list">
              
              <div class="card-body">
                <h5 class="card-title">{{element.title}}</h5>
                
                <button  class="btn btn-primary" v-on:click="redirect($event, index)" :id="element.id">Go somewhere</button>
              </div>
            </div>
          </div> -->
    </div>
</div>


<!-- Second Page -->
<div id="openModal2" class="modalDialog" data-modalorder=2>
    <div>	
      <input class="getAssignment2" type="button" value="<<Previous">
      <input class="getAssignment" type="button" value="Next>>">
      <a href="#close" title="Close" class="close">X</a>

      <h2 style="text-align: center; margin-top: -20px;">About Last Week:</h2>

      <div class="col-sm-12 form-group" style="margin-bottom: 45px; margin-top: 20px;">
          <label for="name"><strong><h3>How many workouts did you complete Last Week?</h3></strong></label>
          <input type="range" class="form-range" name="workoutsCount" id="workouts_lastWeek" min="0" max="5" required>
          <div class="output-container">
              <output for="exerciseDays" class="output">0</output> 
              <output for="exerciseDays" class="output">1</output>
              <output for="exerciseDays" class="output">2</output>
              <output for="exerciseDays" class="output">3</output>
              <output for="exerciseDays" class="output">4</output>
              <output for="exerciseDays" class="output">5</output>
          </div>
      </div>

      <div class="col-sm-12 form-group">
        <label for="name"><strong><h3>How many meals did you complete Last Week?</h3></strong></label>
        <input type="range" class="form-range" name="workoutsCount" id="meals_lastWeek" min="0" max="5" required>
        <div class="output-container">
            <output for="exerciseDays" class="output">0</output> 
            <output for="exerciseDays" class="output">1</output>
            <output for="exerciseDays" class="output">2</output>
            <output for="exerciseDays" class="output">3</output>
            <output for="exerciseDays" class="output">4</output>
            <output for="exerciseDays" class="output">5</output>
        </div>
    </div>
      
     
    </div>
</div>


<!-- Third Page -->
<div id="openModal4" class="modalDialog" data-modalorder=4>
    <div>	
        <input class="getAssignment2" type="button" value="<<Previous">
        <input class="getAssignment" type="button" value="Next>>">
        <a href="#close" title="Close" class="close">X</a>

        <h2 style="text-align: center; margin-top: -20px; margin-bottom: 20px;">Here's your workout progress so far!</h2>

          <div class="row">
              <div class="col-lg-6" style="margin-left: 200px; margin-right: 0;">
                  <div class="card mb-3">
                        <div class="card-body">
                            <canvas id="line"></canvas>
                        </div>
                  </div>
              </div>
          </div>

          <!-- <p>This is a sample modal</p>
          <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p> -->
          <!-- <div class="row">
              <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header">
                    Workouts completed </div>
                <div class="card-body">
                  <canvas id="line"></canvas>
                </div>
              </div>
            </div>
            </div>
          <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header">
                  Focus Areas (%)</div>
                <div class="card-body">
                  <canvas id="pie" width="100%" height="50"></canvas>
                </div>
              </div>
            </div> -->
    </div>
</div>


<!-- Fifth Page -->
<div id="openModal6" class="modalDialog" data-modalorder=6>
    <div>	
        <input class="getAssignment2" type="button" value="<<Previous">
        <input class="getAssignment" type="button" value="Next>>">
        <a href="#close" title="Close" class="close">X</a>

        <h2 style="text-align: center; margin-top: -25px; margin-bottom: 7px;">Here's your focus area stats!</h2>
        
        <div class="col-lg-6" style="margin-left: 200px; margin-right: 0;">
            <div class="card mb-3">
                <div class="card-header">
                    Focus Areas (%)
                </div>
                <div class="card-body">
                  <canvas id="pie" width="100%" height="50"> </canvas>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Fifth Page -->
<div id="openModal7" class="modalDialog" data-modalorder=7>
    <div>	
        <input class="getAssignment2" type="button" value="<<Previous">
        <input class="getAssignment" type="button" value="Next>>">
        <a href="#close" title="Close" class="close">X</a>

        <h2 style="text-align: center; margin-top: -20px;">Goal Setting for Workouts and Meals:</h2>

        <div class="col-sm-12 form-group" style="margin-bottom: 45px; margin-top: 20px;">
            <label for="name"><strong><h3>How many workouts would you like to complete This Week?</h3></strong></label>
            <input type="range" class="form-range" name="workoutsCount" id="workouts_thisWeek" min="0" max="5" required>
            <div class="output-container">
                <output for="exerciseDays" class="output">0</output> 
                <output for="exerciseDays" class="output">1</output>
                <output for="exerciseDays" class="output">2</output>
                <output for="exerciseDays" class="output">3</output>
                <output for="exerciseDays" class="output">4</output>
                <output for="exerciseDays" class="output">5</output>
            </div>
        </div>
  
        <div class="col-sm-12 form-group">
            <label for="name"><strong><h3>How many meals would you like to complete This Week?</h3></strong></label>
            <input type="range" class="form-range" name="workoutsCount" id="meals_thisWeek" min="0" max="5" required>
            <div class="output-container">
                <output for="exerciseDays" class="output">0</output> 
                <output for="exerciseDays" class="output">1</output>
                <output for="exerciseDays" class="output">2</output>
                <output for="exerciseDays" class="output">3</output>
                <output for="exerciseDays" class="output">4</output>
                <output for="exerciseDays" class="output">5</output>
            </div>
      </div>

    </div>
</div>


<!-- Eighth Page -->
<div id="openModal9" class="modalDialog" data-modalorder=9>
    <div>	
        <input class="getAssignment2" type="button" value="<<Previous">
        <input class="getAssignment" type="button" value="Next>>">
        <a href="#close" title="Close" class="close">X</a>

        <div style="text-align:center;">
            <h2 style="margin-bottom:20px; margin-top:-20px; margin-left:20px;">Goal Setting for Focus Area</h2>
            <h4 style="margin-bottom:20px;">What do you want to achieve This Week?</h4>

            <select name="keyword" id="keyword" style="width: 200px; height: 40px;">
                <option value="cardio" style="font-size: 13px;">Cardio</option>
                <option value="aerobics" style="font-size: 13px;">Aerobics</option>
                <option value="HIIT" style="font-size: 13px;">HIIT</option>
                <option value="weight loss" style="font-size: 13px;">Weight Loss</option>
            </select>
        </div>

        <div id="image-container">
          <img id="cardio-image" src="images/cardio.png" alt="Cardio Image" style="position: absolute; width:190px; height:130px; left: 50%; top: 80%; transform: translate(-50%, -60%);">
          <img id="aerobics-image" src="images/aerobics.png" alt="Aerobics Image" style="position: absolute; width:190px; height:130px; left: 50%; top: 80%; transform: translate(-50%, -60%);">
          <img id="hiit-image" src="images/hiit.png" alt="HIIT Image" style="position: absolute; width:190px; height:130px; left: 50%; top: 80%; transform: translate(-50%, -60%);">
          <img id="weight-loss-image" src="images/weight_loss.png" alt="Weight Loss Image" style="position: absolute; width:190px; height:130px; left: 50%; top: 80%; transform: translate(-50%, -60%);">
        </div>
 

        <script>
            const keywordSelect = document.getElementById("keyword");
            const cardioImage = document.getElementById("cardio-image");
            const aerobicsImage = document.getElementById("aerobics-image");
            const hiitImage = document.getElementById("hiit-image");
            const weightLossImage = document.getElementById("weight-loss-image");
        
            function displaySelectedImage() {
                const selectedOptionValue = keywordSelect.value;
        
                cardioImage.style.display = "none";
                aerobicsImage.style.display = "none";
                hiitImage.style.display = "none";
                weightLossImage.style.display = "none";
        
                if (selectedOptionValue === "cardio") {
                    cardioImage.style.display = "block";
                } else if (selectedOptionValue === "aerobics") {
                    aerobicsImage.style.display = "block";
                } else if (selectedOptionValue === "HIIT") {
                    hiitImage.style.display = "block";
                } else if (selectedOptionValue === "weight loss") {
                    weightLossImage.style.display = "block";
                }
            }
        
            keywordSelect.addEventListener("change", displaySelectedImage);
            displaySelectedImage();
        </script>
    
    </div>
</div>


<!-- Ninth Page -->
<div id="openModal10" class="modalDialog" data-modalorder=10>
    <div>	
        <input class="getAssignment2" type="button" value="<<Previous">
        <input class="getAssignment" type="button" value="Next>>">
        <a href="#close" title="Close" class="close">X</a>

        <div style="text-align:center; margin-top:-20px">
            <h2 style="margin-bottom:20px;">Workout Recommendation!</h2>
            <h4 style="margin-bottom:20px;">Here are your workout recommendations for This Week!</h4>
        </div>

        <div id="app1" style="margin-left: 328px; margin-right: 0;">
            <div class="card" style="width: 18rem;" v-for="(element, index) in list">
                <div class="card-body">
                    <h5 class="card-title">{{element.title}}</h5>
                    <button  class="btn btn-primary" v-on:click="redirect($event, index)" :id="element.id">Click Me</button>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- Tenth Page -->
<div id="openModal11" class="modalDialog" data-modalorder=11>
    <div>	
        <input class="getAssignment2" type="button" value="<<Previous">
        <input class="getAssignment" type="button" value="Next>>">
        <a href="#close" title="Close" class="close">X</a>


        <div style="text-align:center; margin-top:-20px">
          <h2 style="margin-bottom:20px;">Meal Recommendation!</h2>
          <h4 style="margin-bottom:20px;">Here are your meal recommendations for This Week!</h4>
        </div>

        <div id="app2" style="margin-left: 328px; margin-right: 0;">
            <div class="card" style="width: 18rem;" v-for="(element2, index) in list2" >
                <div class="card-body">
                    <h5 class="card-title">{{element2.name}}</h5>
                    <button  class="btn btn-primary" v-on:click="redirect2($event, index)" :id="element2.id2">Click Me</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- <div id="app1">
  
  <div class="card" style="width: 18rem;" v-for="(element, index) in list" >
    
    <div class="card-body">
      <h5 class="card-title">{{element.title}}</h5>
      
      <button  class="btn btn-primary" v-on:click="redirect($event, index)" :id="element.id">Go somewhere</button>
    </div>
  </div>
</div> -->
    

<!-- Eleventh Page -->
<div id="openModal12" class="modalDialog" data-modalorder=12>
  <div>	
      <input class="getAssignment2" type="button" value="Previous">
      <input class="getAssignment" type="button" value="Next">
      <a href="#close" title="Close" class="close">X</a>

      <div style="text-align:center;font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
        <h1 style="margin-top: -20px; margin-left:27px;">Good Job!</h1>
        <p style="font-size: 12px; margin-top: 15px;">See you Next Week!</p>
      </div>
     
      <img src="images/weekly.jpg" alt="Your Image Description" style="display: block; width: 250px; height: 300px ;margin: 0 auto; max-width: 100%; height: auto;">

  </div>
</div>



<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js";
    import { getDatabase, ref, child, get } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-database.js";
    import { getAuth, onAuthStateChanged, signOut } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
            apiKey: "AIzaSyAuv9pHvIhlo_wNj4tdkzNanWoGtQ-5-t4",
            authDomain: "is216-g2.firebaseapp.com",
            databaseURL: "https://is216-g2-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "is216-g2",
            storageBucket: "is216-g2.appspot.com",
            messagingSenderId: "426453655797",
            appId: "1:426453655797:web:26878838329ce6c02365bc",
            measurementId: "G-HYZ4GSYP9Y"
          };
    
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app)
    const auth = getAuth(app);
    const dbRef = ref(getDatabase());
    var goal = "losing-weight"
    get(child(dbRef, `workouts`)).then((snapshot) => {
    if (snapshot.exists()) {
      var arr = snapshot.val()
      
      var stuff = []
      for (var element in arr) {
        if (arr[element].tags.includes(goal)) {
          var title = arr[element].title
          var id = element
          var w = arr[element]
          var difficulty = arr[element].difficulty
          var duration = arr[element].duration
          stuff.push({ title, id, difficulty, duration})
        }
      }
  
      var cards = []
      var counter = 2
      for (var i= 0; i < counter; i++ ) {
        var ran_num = Math.floor(Math.random() * (stuff.length -1));
        while(cards.includes(stuff[ran_num])) {
          ran_num = Math.floor(Math.random() * (stuff.length -1));
          
        }
        
        cards.push(stuff[ran_num])
      }
     
      // <div id='app'></div>
      const app1 = Vue.createApp({ 
        data() { 
            return { 
                  // key: value
                  list: cards,
              
            };
        }, // data
        // computed: { 
        //     derivedProperty() {
        //         return false;
        //     }  
        // }, // computed
        // created() { 
        // },
        // mounted() { 
        // },
        methods: {
            redirect(event, index) {
              var value = event.target.getAttribute('id')
              localStorage.setItem("selected-workout", value)
              window.location.href = "workout-pages.html"
            }
        } // methods
    });
    const vm = app1.mount('#app1'); 
    }})
  
    get(child(dbRef, `meals`)).then((snapshot2) => {
    if (snapshot2.exists()) {
      var arr2 = snapshot2.val()
      
      var stuff2 = []
      for (var element2 in arr2) {
        if (arr2[element2].tags.includes(goal)) {
          var name = arr2[element2].name
          var id2 = element2
          var w2 = arr2[element2]
          var ingredients = arr2[element2].ingredients
          var instructions = arr2[element2].instructions
          stuff2.push({ name, id2, ingredients, instructions})
        }
      }
  
      var cards2 = []
      var counter2 = 2
      for (var i= 0; i < counter2; i++ ) {
        var ran_num2 = Math.floor(Math.random() * (stuff2.length) - 1);
        while (cards2.includes(stuff2[ran_num2])) {
          ran_num2 = Math.floor(Math.random() * (stuff2.length) - 1);
        }
        cards2.push(stuff2[ran_num2])
      }
      console.log(cards2)
      // <div id='app'></div>
      const app2 = Vue.createApp({ 
        data() { 
            return { 
                  // key: value
                  list2: cards2,
              
            };
        }, // data
        // computed: { 
        //     derivedProperty() {
        //         return false;
        //     }  
        // }, // computed
        // created() { 
        // },
        // mounted() { 
        // },
        methods: {
            redirect2(event, index) {
              var value2 = event.target.getAttribute('id')
              localStorage.setItem("selected-meal", value2)
              window.location.href = "meal-pages.html"
            }
        } // methods
    });
    const vm2 = app2.mount('#app2'); 
    }})
  // GERARD'S CODE END
    
  </script>
      <script>
          $(document).ready(function() {
              var data=[];
          currentModal = 0;
          
          $('.modalDialog').each(function(){
              data.push({
              id: $(this).attr('id'),
              order: $(this).data('modalorder')
              });
          })
              
              $('#openModalBtn').click(function(){
              currentModal = 0;
              window.location.href = "#" + data[currentModal].id;
              $('#'+data[currentModal].id).find('.getAssignment2').prop('disabled', true);
          })
          
          //prev
          $('.getAssignment2').click(function(){
              if (currentModal>0) {
                  currentModal--;
              window.location.href = "#" + data[currentModal].id;
              } else {
              
                  window.location.href = '#'
              }
          })
          
          //next
          $('.getAssignment').click(function(){
              if (currentModal<data.length - 1) {
                  currentModal++;
              if (currentModal===data.length - 1) $('#'+data[currentModal].id).find('.getAssignment').prop('disabled', true);
              window.location.href = "#" + data[currentModal].id;
              } else {
                  window.location.href = '#'
              }
          })
          
          })

  var ctx = document.getElementById("pie").getContext('2d');
  
  var pie = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["aerobics", "strength", "flexibility", "core"],
      datasets: [{
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#9b59b6",
          "#e74c3c",
        ],
        data: [18.1, 13.0, 33.0, 35.9]
      }]
    }
  });
  // Set new default font family and font color to mimic Bootstrap's default styling
  Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  Chart.defaults.global.defaultFontColor = '#292b2c';
  // Area Chart Example
  var ctx = document.getElementById("line");
  var line = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["week 1", "week 2", "week 3", "week 4", "week 5", "week 6"],
      datasets: [{
        label: "Number of workouts completed",
        lineTension: false,
        fill: false,
        backgroundColor: "rgba(2,117,216,1)",
        borderColor: "rgba(2,117,216,1)",
        pointRadius: 10,
        pointBackgroundColor: "rgba(2,117,216,1)",
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 10,
        pointHoverBackgroundColor: "rgba(2,117,216,1)",
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: [2, 3, 4, 3, 1, 1],
      },
      // {
      //   label: "Another Dataset",
      //   lineTension: false,
      //   fill: false,
      //   backgroundColor: "rgba(204,102,0,0.2)",
      //   borderColor: "rgba(204,102,0,1)",
      //   pointRadius: 10,
      //   pointBackgroundColor: "rgba(204,102,0,1)",
      //   pointBorderColor: "rgba(255,255,255,0.8)",
      //   pointHoverRadius: 10,
      //   pointHoverBackgroundColor: "rgba(204,102,0,1)",
      //   pointHitRadius: 50,
      //   pointBorderWidth: 2,
      //   data: [3.005, 3.090, 2.865, 2.749, 2.749, 2.736, 2.510, 2.323, 2.247, 2.203, 2.168, 2.075],
      // }
      ],
    },
    options: {
      scales: {
        xAxes: [{
          time: {
            unit: 'date'
          },
          gridLines: {
            display: false
          },
        }],
        yAxes: [{
          ticks: {
            min: 0,
          },
          gridLines: {
            color: "rgba(0, 0, 0, .125)",
          }
        }],
      },
      legend: {
        display: true
      }
    }
  });
  let popup = document.getElementsByClassName("modalDialog")[0];
let closeBtn = document.getElementById("close-btn");

function showPopup() {
  setTimeout(() => {
    popup.style.transform = "translateY(0)";
  }, 3000);
}

closeBtn.addEventListener("click", (e) => {
  popup.style.transform = "translateY(-70vh)";
});

window.onload = showPopup();
  
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the modal element by its ID
    var modal = document.getElementById("openModal1");

    // Show the modal by adding the "modalDialog" class
    modal.classList.add("modalDialog");

    // Disable the close button to prevent closing the modal
    modal.querySelector(".close").style.display = "none";

    // Function to close the modal
    function closePopup() {
      modal.style.opacity = "0";
      setTimeout(function() {
        modal.style.display = "none";
      }, 400);
    }

    // Set a timeout to close the modal after a certain time (e.g., 5 seconds)
    setTimeout(closePopup, 5000);

    // You can also add an event listener to allow the user to close the modal by clicking outside of it
    window.addEventListener("click", function(event) {
      if (event.target == modal) {
        closePopup();
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the modal trigger button by its ID
    var modalTriggerButton = document.getElementById("openModalBtn");

    // Simulate a click event on the modal trigger button
    modalTriggerButton.click();
  });
</script>





</body>
</html>